<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>com.local.screenviewer</string>
    <key>ProgramArguments</key>
    <array>
      <string>__NODE_BIN__</string>
      <string>__TSX_BIN__</string>
      <string>__SERVER_ENTRY__</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__PROJECT_ROOT__</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/screenviewer.out.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/screenviewer.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>__PATH__</string>
      <key>VIEWER_PASSWORD</key>
      <string>__VIEWER_PASSWORD__</string>
      <key>PORT</key>
      <string>__PORT__</string>
      <key>FPS</key>
      <string>__FPS__</string>
      <key>JPEG_QUALITY</key>
      <string>__JPEG_QUALITY__</string>
      <key>SCALE</key>
      <string>__SCALE__</string>
      <key>CLOUDFLARED_TOKEN</key>
      <string>__CLOUDFLARED_TOKEN__</string>
      <key>CLOUDFLARED_CONFIG</key>
      <string>__CLOUDFLARED_CONFIG__</string>
      <key>AUTO_TUNNEL</key>
      <string>__AUTO_TUNNEL__</string>
      <key>SHARE_ON_START</key>
      <string>__SHARE_ON_START__</string>
      <key>CONTROL_PLANE_URL</key>
      <string>__CONTROL_PLANE_URL__</string>
      <key>AGENT_TOKEN</key>
      <string>__AGENT_TOKEN__</string>
      <key>CORS_ORIGINS</key>
      <string>__CORS_ORIGINS__</string>
    </dict>
  </dict>
</plist>
