<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>Label</key>
    <string>prostar.agent</string>
    <key>ProgramArguments</key>
    <array>
      <string>__NODE_BIN__</string>
      <string>__SERVER_ENTRY__</string>
    </array>
    <key>WorkingDirectory</key>
    <string>__PROJECT_ROOT__</string>
    <key>RunAtLoad</key>
    <true/>
    <key>KeepAlive</key>
    <true/>
    <key>ThrottleInterval</key>
    <integer>10</integer>
    <key>LimitLoadToSessionType</key>
    <string>Aqua</string>
    <key>ProcessType</key>
    <string>Interactive</string>
    <key>StandardOutPath</key>
    <string>__LOG_DIR__/prostar.out.log</string>
    <key>StandardErrorPath</key>
    <string>__LOG_DIR__/prostar.err.log</string>
    <key>EnvironmentVariables</key>
    <dict>
      <key>PATH</key>
      <string>__PATH__</string>
      <key>PROSTAR_VIEWER_PASSWORD</key>
      <string>__PROSTAR_VIEWER_PASSWORD__</string>
      <key>PORT</key>
      <string>__PORT__</string>
      <key>FPS</key>
      <string>__FPS__</string>
      <key>JPEG_QUALITY</key>
      <string>__JPEG_QUALITY__</string>
      <key>SCALE</key>
      <string>__SCALE__</string>
      <key>MAX_WIDTH</key>
      <string>__MAX_WIDTH__</string>
      <key>AUTO_TUNNEL</key>
      <string>__AUTO_TUNNEL__</string>
      <key>CONTROL_PLANE_URL</key>
      <string>__CONTROL_PLANE_URL__</string>
      <key>PROSTAR_CLIENT_ID</key>
      <string>__PROSTAR_CLIENT_ID__</string>
      <key>PROSTAR_AGENT_SECRET</key>
      <string>__PROSTAR_AGENT_SECRET__</string>
      <key>PROSTAR_CLOUDFLARED_BIN</key>
      <string>__PROSTAR_CLOUDFLARED_BIN__</string>
    </dict>
  </dict>
</plist>
